body {
    background: url("Background_lemonade.png") no-repeat center center fixed;
    background-size: cover;

    h1 {
        color: beige;
        font-size: 400%;
        text-align: center;
    }
    p1 {
        color: beige;
        font-size: 300%;
    }

}