body {
    background-color: antiquewhite;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    }

.same_sized_image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    /* flex: 0 0 25%; */
}

.photogrid_1 {
    display: flex; 
    flex-wrap: wrap;
    align-content: flex-start;
    column-gap: 20px;
}

.photos p{
    width: 200px;
    height: 200px;
    color: #6f4e37;
}

h1{
    font-size: 400%;
    text-align: center;
    color: #6f4e37;
    margin-left: 160px;
    font-family: "Caveat", cursive;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #6f4e37;
    overflow-x: hidden;
    padding-top: 20px;
    }

.sidenav a {
    padding: 10px 8px 10px 16px;
    text-decoration: none;
    font-size: 25px;
    color: antiquewhite;
    display: block;
}

.Main_component{
    margin-left: 160px;
    padding: 0px 10px;
    flex: 1;
}

footer{
    text-align: center;
    padding: 3px;
    color: antiquewhite;
    background-color: #6f4e37;
    margin-top: auto;
    margin-left: 160px;
    font-family: "Caveat", cursive;
    font-weight: 200;
    font-size: 16;
    margin-top: auto;
}