body {
    background-color: antiquewhite;
    .same_sized_image {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }

    .photogrid_1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        column-gap: 20px;
        justify-content: flex-start;
    }

    p{
        width: 200px;
        height: 200px;
        color: #6f4e37;
    }

    h1{
        font-size: 400%;
        text-align: center;
        color: #6f4e37;
        margin-left: 160px;
    }

    .sidenav {
        height: 100%;
        width: 160px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #6f4e37;
        overflow-x: hidden;
        padding-top: 20px;
        }

    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: antiquewhite;
        display: block;
    }

    .Main_component{
        margin-left: 160px;
        padding: 0px 10px;
    }
}
